<nz-row class="new-user-section" [nzGutter]="[16,16]" nzJustify="center" nzAlign="middle">
    <nz-col nzXs="24" nzMd="12">
        <nz-card nzTitle="Nuevo usuario">
            <div *ngIf="section == 1">
                <form nz-form [formGroup]="form" >
                    <nz-row [nzGutter]="[16,16]">
                        <nz-col nzMd="12" nzXs="24">
                            <nz-form-item>
                                <nz-form-label nzSpan="24" nzRequired>Nombre </nz-form-label>
                                <nz-form-control nzSpan="24" nzErrorTip="Ingrese un nombre válido">
                                    <input nz-input formControlName="first_name" class="item-form" placeholder="Nombre" type="text" autocomplete="off" />
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                        <nz-col nzMd="12" nzXs="24">
                            <nz-form-item >
                                <nz-form-label nzSpan="24" nzRequired>Apellido </nz-form-label>
                                <nz-form-control nzSpan="24" nzErrorTip="Ingrese un apellido válido">
                                    <input nz-input formControlName="last_name" class="item-form"  placeholder="Apellido" type="text" autocomplete="off" />
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                        <nz-col nzMd="24" nzXs="24">
                            <nz-form-item>
                                <nz-form-label nzSpan="24" nzRequired>Correo electrónico </nz-form-label>
                                <nz-form-control nzSpan="24" nzErrorTip="Ingrese un correo válido">
                                    <input nz-input formControlName="email" class="item-form"  placeholder="Correo electrónico" type="text" autocomplete="off" />
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                    </nz-row>
                </form>
            </div>
            <div *ngIf="section == 2">
                <form nz-form [formGroup]="passwordForm" >
                    <nz-row [nzGutter]="[16,16]">
                        <nz-col nzMd="24" nzXs="24">
                            <nz-form-item>
                                <nz-form-label nzSpan="24" nzRequired>Nombre de usuario </nz-form-label>
                                <nz-form-control nzSpan="24" nzErrorTip="Ingrese un nombre de usuario válido">
                                    <input nz-input formControlName="username" class="item-form" placeholder="Nombre" type="text" autocomplete="off" />
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                        <nz-col nzMd="24" nzXs="24">
                            <nz-form-item >
                                <nz-form-label nzSpan="24" nzRequired>Contraseña </nz-form-label>
                                <nz-form-control nzSpan="24" nzErrorTip="Ingrese una contraseña válida">
                                    <nz-input-group  nzPrefixIcon="lock" [nzSuffix]="suffixTemplate" class="question-input">
                                        <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Digite su nueva contraseña" formControlName="password" />
                                        <ng-template #suffixTemplate>
                                          <span
                                            nz-icon
                                            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                            (click)="passwordVisible = !passwordVisible"
                                          ></span>
                                        </ng-template>
                                      </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                        <nz-col nzMd="24" nzXs="24">
                            <nz-form-item>
                                <nz-form-label nzSpan="24" nzRequired>Confirmar contraseña </nz-form-label>
                                <nz-form-control nzSpan="24">
                                    <nz-input-group  nzPrefixIcon="lock" [nzSuffix]="secondsuffixTemplate" class="question-input">
                                        <input [type]="secondPasswordVisible ? 'text' : 'password'" nz-input placeholder="Confirme contraseña" formControlName="secondPassword"  />
                                        <ng-template #secondsuffixTemplate>
                                          <span
                                            nz-icon
                                            [nzType]="secondPasswordVisible ? 'eye-invisible' : 'eye'"
                                            (click)="secondPasswordVisible = !secondPasswordVisible"
                                          ></span>
                                        </ng-template>
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                    </nz-row>
                </form>
            </div>
            <div *ngIf="section == 3" class="section-questions">
                <nz-row>
                    <b>Responda al menos 3 de las siguientes preguntas de seguridad</b>
                    <nz-col nzSpan="24" *ngFor="let q of securityQuestions" class="item-question">
                        <p>{{q.name}}</p>
                        <input nz-input [placeholder]="q.name" [(ngModel)]="q.answer" class="question-input" (ngModelChange)="validateQuestions()"/>
                    </nz-col>
                  </nz-row>
            </div>
            <nz-row *ngIf="section == 4">
                <nz-result
                nzStatus="success"
                nzTitle="Usuario creado correctamente"
                style=" width:100%">
                  <div nz-result-extra>
                    <button nz-button nzType="primary" [routerLink]="['/login']">Iniciar sesión</button>
                  </div>
                </nz-result>
              </nz-row>
            <nz-row nzJustify="center" style="width: 100%;" *ngIf="section != 4">
                <button nz-button nzType="primary" class="btn-new-user" *ngIf="section <= 3 && section > 1" (click)="section = section -1;">Anterior</button>
                <button nz-button nzType="primary" class="btn-new-user" *ngIf="section <= 2" (click)="next()">Siguiente</button>
                <button nz-button nzType="primary" class="btn-new-user" *ngIf="section == 3" [disabled]="!enableSave" (click)="saveUser()">Crear usuario</button>
            </nz-row>
        </nz-card>
    </nz-col>
</nz-row>