<div class="login-container" >
  <div nz-row style="height: 100%;">
      <div nz-col nzMd="14" nzXs="24">            
        <nz-carousel nzDotPosition="bottom" nzAutoPlay>
          <div nz-carousel-content *ngFor="let index of array">
            <img [src]="index.urlsafe" style="max-width: 70%; max-height: 70%;" >
          </div>
        </nz-carousel>
      </div>
      <nz-col nzMd="10" nzXs="24" class="login-section" *ngIf="section == 1">
        <img src="../../../assets/images/ista.png" alt="logo-ktk" width="100%" id="img-logo" onerror="this.src='../../../assets/images/no-image.png'">          
          <nz-row nzJustify="center" class="section-forget">
            <b>Responda las siguientes preguntas de seguridad</b>
            <nz-col nzSpan="20" *ngFor="let q of securityQuestions" class="item-question">
                <p>{{q.title}}</p>
                <input nz-input [placeholder]="q.title" [(ngModel)]="q.answer" class="question-input" />
            </nz-col>
            <nz-col nzSpan="20" style="margin-top: 20px;">
                <nz-row nzJustify="center">
                    <button nz-button nzType="primary" (click)="verifyAnswers()">Verificar</button>
                </nz-row>
            </nz-col>
          </nz-row>
      </nz-col>
      <nz-col nzMd="10" nzXs="24" class="login-section" *ngIf="section == 2">
        <img src="../../../assets/images/ista.png" alt="logo-ktk" width="100%" id="img-logo" onerror="this.src='../../../assets/images/no-image.png'">          
        <nz-row nzJustify="center" class="section-forget">
          <b>Actualice su contraseña</b>
          <nz-col nzSpan="23" class="item-question">
            <p>Digite su nueva contraseña</p>
            <nz-input-group  nzPrefixIcon="lock" [nzSuffix]="suffixTemplate" class="question-input">
              <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Digite su nueva contraseña" [(ngModel)]="password"  />
              <ng-template #suffixTemplate>
                <span
                  nz-icon
                  [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                  (click)="passwordVisible = !passwordVisible"
                ></span>
              </ng-template>
            </nz-input-group>
          </nz-col>
          <nz-col nzSpan="23" class="item-question">
            <p>Confirme su nueva contraseña</p>
            <nz-input-group  nzPrefixIcon="lock" [nzSuffix]="secondsuffixTemplate" class="question-input">
              <input [type]="secondPasswordVisible ? 'text' : 'password'" nz-input placeholder="Digite su nueva contraseña" [(ngModel)]="secondPassword"  />
              <ng-template #secondsuffixTemplate>
                <span
                  nz-icon
                  [nzType]="secondPasswordVisible ? 'eye-invisible' : 'eye'"
                  (click)="secondPasswordVisible = !secondPasswordVisible"
                ></span>
              </ng-template>
            </nz-input-group>
          </nz-col>
          <nz-col nzSpan="23" style="margin-top: 20px;">
            <nz-row nzJustify="center">
              <button nz-button nzType="primary" [disabled]="!isValid()" (click)="updatePassword()">Actualizar contraseña</button>
            </nz-row>
          </nz-col>
        </nz-row>
      </nz-col>
      <nz-col nzMd="10" nzXs="24" class="login-section" *ngIf="section == 3">
        <img src="../../../assets/images/ista.png" alt="logo-ktk" width="100%" id="img-logo" onerror="this.src='../../../assets/images/no-image.png'">          
          <nz-row nzJustify="center" class="section-forget">
            <nz-result
              nzStatus="success"
              nzTitle="Contraseña actualizada correctamente"
              style=" width:100%">
            <div nz-result-extra>
              <button nz-button nzType="primary" [routerLink]="['/login']">Iniciar sesión</button>
            </div>
            </nz-result>
          </nz-row>
      </nz-col>
    </div>
</div>