<nz-row nzGutter="16" nzJustify="center" nzAlign="middle" style="height: 100%;">
    <nz-col nzXs="24" nzMd="12">
        <nz-card [nzTitle]= "section == 1 ? 'Preguntas de seguridad' : 'Cambio de contraseña'" >
            <nz-row *ngIf="section == 1">
                <b>Responda las siguientes preguntas de seguridad</b>
                <nz-col nzSpan="24" *ngFor="let q of securityQuestions" class="item-question">
                    <p>{{q.title}}</p>
                    <input nz-input [placeholder]="q.title" [(ngModel)]="q.answer" class="question-input" />
                </nz-col>
                <nz-col nzSpan="24" style="margin-top: 20px;">
                    <nz-row nzJustify="center">
                        <button nz-button nzType="primary" (click)="verifyAnswers()">Verificar</button>
                    </nz-row>
                </nz-col>
            </nz-row>
          </nz-card>
    </nz-col>
</nz-row>