/* Contenedor principal del chatbot */
.chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Área de mensajes del chat */
.chat-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

/* Estilos de los mensajes del usuario y del bot */
.user-message {
  text-align: right;
  background-color: #e6f7ff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 70%;
  margin-left: auto;
  border: #b1b1b1 1px solid;
}

.bot-message {
  text-align: left;
  background-color: #f5f5f5;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 70%;
  margin-right: auto;
  border: #b1b1b1 1px solid;
}

