<nz-row nzJustify="center">
    <nz-col nzXs="24" nzMd="20"  nzLg="16">
        <div class="chat-container">
            <nz-row class="chat-messages" >
              <nz-col [nzSpan]="24">
                <div *ngFor="let chat of chatMessages" [ngClass]="{'user-message': chat.sender === 'user', 'bot-message': chat.sender === 'bot'}">
                  <p>{{chat.message}}</p>
                </div>
              </nz-col>
            </nz-row>
            <app-message-bar [isLoading]="isLoading" [disable]="disableButton" (sendMessage)="sendMessage($event)" [cleanMessage]="cleanMessage"></app-message-bar>
          </div>
    </nz-col>
</nz-row>
  