/* You can add global styles to this file, and also import other style files */
.icon{
    margin-right: 5px;
}

.chat-input {
    padding: 10px;
    background-color: white;
    border: #b1b1b1 1px solid;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  .chat-input input {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .chat-input button {
    flex-shrink: 0;
  }
  
  .input-textarea {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    resize: none !important;
  }