
.inner-content {
    padding: 0 24px; 
    background: #f0f2f5;
    justify-content: center; 
    transition: all 0.3s ease; 
    width: 100%;
}

.inner-content.collapsed {
    width: calc(100% - 150px); 
    margin-right: 150px;
}
  

#main-layout{
    height: 100%;
}

#sidebar-menu{
    background-color: #f0f2f5;
} 


.quizz-craft-simple-sidebar{
    color: #646566;
}

#avatar{
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 20px;
    display: table-caption;
}

.icon-sidebar{
    margin-left: auto;
    font-size: medium;
}

nz-avatar {
    margin-top: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item-sidebar{
    margin-top: 20px;
}

.custom-list {
    list-style-type: none;
    padding: 0;
}

.custom-list li {
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}

.custom-list li:hover {
    background-color: #07294d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #fff;
}

.item-list{
    max-width: 95%;
}

.item-container{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navbar-200 {
    width: calc(100% - 200px)
}

.content-collapsed {
    padding: 10px;
    height: 100%;
    max-width: 90%;
}

.content-expanded {
    background-color: #dddd;
    min-height: 100%;
    min-width: 100%;
    border: 1px solid #9ea1a5;
    border-radius: 0 12px 12px 0;
    padding: 10px;
    opacity: 1;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
}

.options li{
    border: 1px solid #9ea1a5;    
    border-radius: 10px;
    transition: box-shadow 0.3s;
    margin-bottom: 5px;
}

.options li:hover {
    background-color: #aeaeae;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #fff !important;
}

.sider-footer{
    margin-top: auto;
    box-sizing: border-box;
}

