<nz-layout id="main-layout">
    <nz-sider id="sidebar-menu" 
        [nzCollapsed]="!showSidebar"
        [nzCollapsedWidth]="150"
        [nzTrigger]="null"
        [nzBreakpoint]="'md'"
        [nzWidth]="270"
        class="nz-sider">

        <div class="content-expanded" *ngIf="showSidebar">
            <nz-row>
                <nz-col>
                    <h2>Quizz Craft</h2>
                </nz-col>
                <nz-col class="icon-sidebar">
                    <i class="fa-solid fa-angles-left" (click)="showSidebar = false"></i>
                </nz-col>
            </nz-row>
            <nz-row>
                <button nz-button nzBlock [routerLink]="['/']" ><i class="fa-regular fa-comment icon"></i> Nuevo chat</button>
            </nz-row>
            <h3 class="item-sidebar">Recientes</h3>
            <ul class="custom-list">
                <li class="item-list" [routerLink]="['/chat']">
                    <div class="item-container">
                        <i class="fa-regular fa-comment icon"></i> asdasdas45sdff4sd5f4asd54fs5d4fas5d4f5s4ds54d
                    </div>
                </li>
                <li class="item-list">
                    <div class="item-container"> 
                        <i class="fa-regular fa-comment icon"></i>asdasada6sddsfs5s6d5f6sd5fs6df5sdkjjjjjjjjjjjjjjjjjjjjjjjjjjj
                    </div>
                </li>
            </ul>
            <button nz-button nzBlock nz-dropdown [nzDropdownMenu]="menu" class="sider-footer" nzTrigger="click">
                Xavier Yanza
            </button>
        </div>
        <div  class="content-collapsed" *ngIf="!showSidebar">
            <nz-row class="quizz-craft-simple-sidebar">
                <nz-col>
                    <h2 class="quizz-craft-simple-sidebar">Quizz Craft </h2> 
                </nz-col>
                <nz-col class="icon-sidebar">
                    <i class="fa-solid fa-angles-right" (click)="showSidebar = true"></i>
                </nz-col>
            </nz-row>
           
            <div id="avatar">
                <a nz-dropdown [nzDropdownMenu]="menu">
                    <nz-avatar nzText="U" ></nz-avatar>
                </a>
            </div>
        </div>
    </nz-sider>


    <nz-layout>
        <nz-content>
            <nz-row nzJustify="center"  class="inner-content" [ngClass]="{'collapsed': !showSidebar, 'expanded': showSidebar}">
                <nz-col nzSpan="24" style="text-align: center;">
                    <router-outlet></router-outlet>
                </nz-col>
            </nz-row>
            <div>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item class="options">
        <a [routerLink]="['/login']" > <span nz-icon nzType="logout" nzTheme="outline"></span> Cerrar sesión</a>
      </li>
      <li nz-menu-item>
        <a> <span nz-icon nzType="logout" nzTheme="outline"></span> Cerrar sesión</a>
      </li>
    </ul>
  </nz-dropdown-menu>