.inner-content {
    padding: 0 24px; 
    background: #f0f2f5;
    min-height: 360px;
}

#main-layout{
    height: 100%;
}

#sidebar-menu{
    background-color: #dddd;
    height: 100%;
    width: 270px;
    border: 1px solid #9ea1a5;
    border-radius: 0 12px 12px 0;
    padding: 10px;
} 

#simple-sidebar{
    padding: 10px;
    height: 100%;
    width: 150px;

}

#quizz-craft-simple-sidebar{
    color: #646566;
}

#avatar{
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 20px;
    display: table-caption;
}

.icon-sidebar{
    margin-left: auto;
}

nz-avatar {
    margin-top: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item-sidebar{
    margin-top: 20px;
}

.custom-list {
    list-style-type: none;
    padding: 0;
}

.custom-list li {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

.custom-list li:hover {
    background-color: #aeaeae;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.item-list{
    max-width: 95%;
}

.item-container{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }