/* Hacer que el botón sea visible solo en dispositivos móviles */
@media (max-width: 768px) {
    button {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1000;
    }
}

.nz-drawer {
    z-index: 999;
}